@charset "utf-8";
.HOME{
    width: 100%;
    height: 700px;
    background-image: url("../img/index_img/caption.jpg");
    margin: 0px 0px 0px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transform: translate(0%, -15%) translate3d(0px, 0px, 0px);
}
.header{
	width: 100%;
    height: 500px;
}
.home2{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.H_h_BG{
	opacity: 0.9;
	position: absolute;
    left: 50%;
	top: 10%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    padding-top: 24px;
    padding-bottom: 18px;
    padding-left: 39px;
    padding-right: 42px;
	font-family: 微軟正黑體;
	font-weight: bolder;
	color: #FFFFFFF;
	font-size: 50px;
}
.MAP{
	margin-top: 150px;
	text-align: center;
}
@media (max-width: 575.98px){
}

@media (max-width: 767.98px){
}

@media (max-width: 991.98px){
}

@media (max-width: 1199.98px){
}

@media (min-width: 576px){
}

@media (min-width: 768px){
}

@media (min-width: 992px){
}

@media (min-width: 1200px){
}
